<!-- 
  for simple flex examples see: https://www.sketchingwithcss.com/samplechapter/cheatsheet.html#column
  justify-content docs: https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content
-->
<div style="display:flex; flex-direction: column;">
  <h1>Test Angular Material</h1>
  <div style="display:flex; flex-direction: row">
    <div style="width:50%;">Column 1</div>
    <div style="width:50%;">Column 2</div>
  </div>
  <div style="display:flex; flex-direction: row; justify-content: space-around;">
    <button mat-button [matMenuTriggerFor]="menu1">Menu 1</button>
    <mat-menu #menu1="matMenu" yPosition="below">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu2">Menu 2</button>
    <mat-menu #menu2="matMenu" yPostiion="below">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
</div>

<mat-card>Test Card</mat-card>

<router-outlet></router-outlet>
